*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:0.3s;
}

/* DARK THEME */
body.dark{
  background:linear-gradient(135deg,#0f0f1a,#1a1a2e);
  color:white;
}

/* LIGHT (soft girl) */
body.light{
  background:linear-gradient(135deg,#ffe6f0,#e6f0ff);
  color:#333;
}

.container{
  width:90%;
  max-width:500px;
}

.top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.card{
  padding:20px;
  border-radius:20px;
  margin-bottom:20px;
  backdrop-filter:blur(10px);
  background:rgba(255,255,255,0.1);
  box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

body.light .card{
  background:rgba(255,255,255,0.6);
}

#timer{
  text-align:center;
  font-size:55px;
  margin:15px 0;
}

input{
  width:100%;
  padding:10px;
  border-radius:10px;
  border:none;
  margin-top:10px;
}

.buttons{
  display:flex;
  gap:10px;
  justify-content:center;
}

button{
  padding:10px 15px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  transition:0.2s;
}

button:hover{
  transform:scale(1.05);
}

.task-input{
  display:flex;
  gap:10px;
  margin-top:10px;
}

ul{
  margin-top:10px;
  list-style:none;
}

li{
  display:flex;
  justify-content:space-between;
  padding:10px;
  margin-top:10px;
  border-radius:10px;
  background:rgba(0,0,0,0.1);
}

body.light li{
  background:rgba(255,255,255,0.7);
}
