*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  background:linear-gradient(135deg,#1e1e2f,#2c3e50);
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}

.container{
  width:90%;
  max-width:500px;
}

h1{
  text-align:center;
  margin-bottom:20px;
}

.card{
  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(10px);
  padding:20px;
  border-radius:20px;
  margin-bottom:20px;
  box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

#timer{
  text-align:center;
  font-size:60px;
  margin:20px 0;
}

.buttons{
  display:flex;
  justify-content:center;
  gap:10px;
}

button{
  padding:10px 20px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  transform:scale(1.05);
}

.task-input{
  display:flex;
  gap:10px;
  margin-top:10px;
}

input{
  flex:1;
  padding:10px;
  border:none;
  border-radius:10px;
}

ul{
  margin-top:15px;
  list-style:none;
}

li{
  background:rgba(255,255,255,0.1);
  padding:10px;
  border-radius:10px;
  margin-top:10px;
  display:flex;
  justify-content:space-between;
}
